/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

$code-color:       #7d12ba !default;
$code-bg:          #f8f9fa !default;
$code-block-color: #7d12ba !default;
$code-block-bg:    #f8f9fa !default;
